.container {
    padding-left: 20px;

    h2 {
        margin: 0px 0px 16px;
        font-size: 16px;
        font-weight: 600;
        color: rgb(50, 49, 48);
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .information {
        margin: 0px;
        font-size: 12px;
        color: rgb(161, 159, 157);
    }
}